h1{
	text-align: center;
}

.colors{
	height: 200px;
	width: 200px;
}

.colors:hover{
	 cursor:pointer;
}

h2{
	text-align: center;
}

td{
	padding-right: 50px;
	padding-top: 100px;
}
